
	<div class="container" data-ng-controller="loginController">
	<div class="row">
		<div class="module module-login span4 offset4">
			<form class="form-vertical" id="frmLogin" name="frmLogin">
                 <div class="control-group" data-ng-class="{ 'has-error' : frmLogin.name.$invalid && !frmLogin.name.$pristine }">
				<div class="module-head">
					<h3>Forgotpassword</h3>
				</div>
				<div class="module-body">
					<div class="control-group">
						<div class="controls row-fluid">
							<input class="span12" type="email" id="userEmail" placeholder="Enter your email" data-ng-model="Logindata.userEmail" name="userEmail" required>
                             <div data-ng-show="frmLogin.userEmail.$dirty && frmLogin.userEmail.$invalid">
                                <span data-ng-show="frmLogin.userEmail.$error.required">Tell us your email.</span>
                                <span data-ng-show="frmLogin.userEmail.$error.email">This is not a valid email.</span>
                             </div>


						</div>
					</div>
					
				</div>
				<div class="module-foot">
					<div class="control-group">
						<div class="controls clearfix">
							<button type="button" class="btn btn-primary pull-right" data-ng-click="forgotPassword(frmLogin.$valid);">Send</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>