`<div data-ng-init="initUpdate()">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".navbar-inverse-collapse"> <i
					class="icon-reorder shaded"></i>
				</a> <a class="brand" href="#"> Resource Home </a>
				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav pull-right">
						<li><a href="#/resource">Resource </a></li>
						<li><a href="#/resourcegroup">Resource Group </a></li>
						<li><a href="#/logout">Log out </a></li>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-controller="resourceGroupController" >
      <div class="row">
	    <div class="span6 offset3">
		    <div class="content">
			    <div class="module">
				    <div class="module-head">
					    <h3>Resource Group Management</h3>
				    </div>
				    <div class="module-body">
                        <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
					    <form name="resourcegroupForm" class="form-horizontal row-fluid" ng-submit="updateVal()" novalidate>
						    <div class="control-group">
							    <label class="control-label" for="Resourcegroup_name">Group Name</label>
							    <div class="controls">
								    <input type="text" name="Resourcegroup_name" data-ng-model="nm" class="span10" required >
								     <input type="hidden" name="Resourcegroup_id" ng-model="id"  >
                                    <p ng-show="resourcegroupForm.Resourcegroup_name.$invalid && !resourcegroupForm.Resourcegroup_name.$pristine" class="help-block has-error"> Resource GroupName is required.</p>
							    </div>
						    </div>
              
                            <div class="control-group">
							    <label class="control-label" for="Resourcegroup_decription">Resource Group Description</label>
							    <div class="controls">
                                    <textarea name="Resourcegroup_decription" data-ng-model="desc" class="span10" required></textarea>
                                    <p ng-show="resourcegroupForm.Resourcegroup_decription.$invalid && !resourcegroupForm.Resourcegroup_decription.$pristine" class="help-block has-error">Description is required.</p>
							    </div>
						    </div>

						    <div class="control-group">
							    <div class="controls">
								    <button type="submit" class="btn btn-primary pull-left" ng-disabled="resourcegroupForm.$invalid">Update</button>
							    </div>
						    </div>
						    <p ng-show="successmsg" class="help-block has-error" ng-bind="successmsg"></p>    
					    </form>
				    </div>
			    </div>
		    </div><!--/.content-->
	    </div><!--/.span9-->    
	      
    </div>
</div>
