<div class="container" ng-controller="userController">
    <div class="row">
	    <div class="span6 offset3">
		    <div class="content">
			    <div class="module">
				    <div class="module-head">
					    <h3>Change Password</h3>
				    </div>
				    <div class="module-body">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
					    <form name="changePassForm" class="form-horizontal row-fluid" ng-submit="fnChnagePassword(changePassForm.$valid)" novalidate>
                            <div class="control-group">
							    <label class="control-label" for="oldPassword">Old Passowrd</label>
							    <div class="controls">
								    <input type="password" name="oldPassword" ng-model="changePassData.oldPassword" class="span10" required">
							    </div>
						    </div>
                            <div class="control-group">
							    <label class="control-label" for="newPassword">New Passowrd</label>
							    <div class="controls">
								    <input type="password" name="newPassword" ng-model="changePassData.newPassword" class="span10" required ng-minlength="5" ng-maxlength="15">
                                    <p ng-show="changePassForm.newPassword.$error.minlength" class="help-block has-error">New Password is too short.</p>
                                    <p ng-show="changePassForm.newPassword.$error.maxlength" class="help-block has-error">New Password is too long.</p>
							    </div>
						    </div>
                            <div class="control-group">
							    <label class="control-label" for="password">Confirm Password</label>
							    <div class="controls">
								    <input type="password" name="confirmPassword" ng-model="changePassData.confirmPassword" class="span10" required ng-minlength="5" ng-maxlength="15" equals="{{changePassData.newPassword}}">
                                    <p ng-show="changePassForm.confirmPassword.$error.equals" class="help-block has-error">Passwords don't match.</p>
                                    <p ng-show="changePassForm.confirmPassword.$error.minlength" class="help-block has-error">Confirm Password is too short.</p>
                                    <p ng-show="changePassForm.confirmPassword.$error.maxlength" class="help-block has-error">Confirm Password is too long.</p>
							    </div>
						    </div>
						    <div class="control-group">
							    <div class="controls">
								    <button type="submit" class="btn btn-primary pull-left" ng-disabled="changePassForm.$invalid">Sign Up</button>
							    </div>
						    </div>
					    </form>
				    </div>
			    </div>
		    </div><!--/.content-->
	    </div><!--/.span9-->
    </div>
</div><!--/.container-->